// Colores
$principal: #588157;
$letra-clara: white;
$letra-oscura: rgb(0, 0, 0);
$fondo-menu: #01161e;
$fondo-barra: rgba(33, 33, 33, 0.9);
$fondo-encabezado: rgba(169, 156, 136, 0.9);
$fondo-ubicacion: #212121;
$letra-lugares: aliceblue;
$separador: rgba(0, 0, 0, 0.5);
$separador-registro: rgba(255, 255, 255, 0.5);
$btn-inicio: #a99c88;
$btn-inicio-hover: #beb09a;
$btn-registro-hover: #6ba16a;
$carta-lugar: rgba(231, 224, 212, 0.9);
$fondo-area: rgba(243, 239, 233, 0.9);
$fondo-form: #212123;

// Efectos
$sombra-clara: 0 0 20px rgba(0, 0, 0, 0.25);
$sombra-fuerte: 0 0 20px rgba(0, 0, 0, 0.4);
